include .clang-format
include .github/workflows/cd.yml
include .github/workflows/ci.yml
include .gitignore
include CMakeLists.txt
include README.md
include pyproject.toml
include setup.py
include vcpkg.json
recursive-include src *
recursive-include tests *
recursive-include overlays *
prune .github
prune vcpkg/*
exclude MANIFEST.in